<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{site.project_title}}</title>
  <meta name="description" content="{{site.project_tagline}}">

  <!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
  <!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->

  <!-- This file is a modified version of https://github.com/jonrohan/time-machine-theme/raw/master/page.mustache -->
  <!-- The theme has been tweaked to better fit this page. -->

  <link rel="stylesheet" href="{{site.asset_path_prefix}}stylesheets/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{site.asset_path_prefix}}stylesheets/pygment_trac.css"/>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47917227-1', 'denilson.sa.nom.br');
  ga('send', 'pageview');
  </script>

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">{{site.project_title}}</h1>
    </header>
    <div id="container">
      <p class="tagline">{{site.project_tagline}}</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/denilsonsa/prettyping/releases/latest" class="release-badge"><img src="https://img.shields.io/github/release/denilsonsa/prettyping.svg" alt="Latest release"></a>
          <!--
          <a href="{{site.tar_url}}" class="download-button tar"><span>Download</span></a>
          <a href="{{site.zip_url}}" class="download-button zip"><span>Download</span></a>
          -->
          <a href="{{site.github_url}}" class="code">View {{site.project_title}} on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>

        <div class="donation_buttons">

<div><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=denilsonsa%40gmail%2ecom&amp;lc=US&amp;item_name=Denilson&amp;item_number=prettyping&amp;currency_code=BRL"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate using PayPal"></a></div>

<div><iframe src="https://api.flattr.com/button/view/?uid=denilsonsa&amp;button=compact&amp;url=https%3A%2F%2Fgithub.com%2Fdenilsonsa%2Fprettyping" title="Flattr" height="20" width="110" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>

<div><script data-gratipay-username="denilsonsa" data-gratipay-widget="button" src="https://grtp.co/v1.js"></script></div>

<div><iframe src="//www.changetip.com/widget/tipme/Lt6y529woJ6Y4aAR5V3eWN?context=RCwPvz5fdYfQpNrEr5Lbw9&amp;max_age=600" title="Tip Bitcoin with Changetip" width="113" height="22" frameborder="0" scrolling="no" allowtransparency="true"></iframe></div>

        </div>

        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
        <p><a href="{{site.owner_url}}" class="avatar"><img src="{{site.owner_gravatar_url}}" width="48" height="48"/></a> <a href="{{site.owner_url}}">{{site.owner_name}}</a> maintains <a href="{{site.github_url}}">{{site.project_title}}</a></p>
      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br/>theme by <a href="http://twitter.com/jonrohan/">Jon Rohan</a><br/>hand-tuned by <a href="http://denilson.sa.nom.br/">Denilson Sá</a></small>
      </div>
    </footer>
  </div>
</body>
</html>
